################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NutriSoftwareV1/FileContentIndex/2e61dfc8-ecc7-42a5-bd58-98fe59b39790.vsidx
/.vs/NutriSoftwareV1/FileContentIndex/0d8643eb-578d-4f86-991c-2b0a6e6a73e3.vsidx
/.vs/NutriSoftwareV1/FileContentIndex/482cd30d-c40f-4ada-9855-e5a94fac131d.vsidx
/.vs/NutriSoftwareV1/FileContentIndex/5127a171-a1e3-4ea1-8cad-991d64b4afc3.vsidx
/.vs/NutriSoftwareV1/FileContentIndex/a27844d3-9073-4489-bd20-4d28cd1d8abe.vsidx
/.vs/NutriSoftwareV1/FileContentIndex/d2a2ca77-3faf-4be6-ab67-4ffb9b9ea6cd.vsidx 
