################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NutriSoftwareV1/FileContentIndex/bb670bf1-d331-4e18-abac-f890a1f99a85.vsidx
/.vs/NutriSoftwareV1/FileContentIndex/d2a2ca77-3faf-4be6-ab67-4ffb9b9ea6cd.vsidx
/.vs/NutriSoftwareV1/FileContentIndex/ed145e47-294d-4bee-b01b-ff73071f1eaa.vsidx
/.vs/NutriSoftwareV1/FileContentIndex/e242c631-1c91-4288-9529-dcc07a33acdb.vsidx
