@model IEnumerable<NutriSoftwareV1.Models.Observacao>

@if (Model != null && Model?.Count() > 0)
{
    @foreach (var obs in Model)
    {
        <div class="row">
            <div class="col-12 ">
                <p class="bg-secondary text-light mb-0 ps-1">Data: @obs.DataObservacao</p>
                <textarea readonly class="form-control" style="height:330px">@obs.Obs?.Replace("<br/>", "\n")</textarea>
            </div>
            <div class="col-12">
                <button type="button" onclick="AbrirModalEditarAnotacoes_OnClick('@obs.Id')" class="btn text-center w-100" data-toggle="modal" data-target="#modalEditObs" style="width:30px!important">
                    <img src="~/icons-main/icons/pencil-square.svg" alt="Editar anotação" width="25" height="15" title="Editar">
                </button>
                <button onclick="RemoverAnotacao_OnClick('@obs.Id')" class="btn" data-toggle="modal" data-target="#modalEditObs" style="width:30px!important">
                    <img src="~/icons-main/icons/x-circle-fill.svg" alt="Deletar" width="25" height="15" title="Deletar">
                </button>
            </div>
        </div>
    }
}