@model IEnumerable<NutriSoftwareV1.Models.Paciente>

@{
    Paciente DetalhePaciente = @ViewBag.DetalhePaciente;
}

<div class="container" style="margin-top: 70px;" id="pnlGeralPaciente">
    <partial name="Partiais/_GeralPaciente" for="@Model" />
</div>


<!-- Modal -->
<div class="modal fade" id="modalCadastrarEditarPaciente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="pnlFormularioCadastroPaciente">
          @* Carregamento via jquery *@
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalCadastrarEditarObsPaciente" tabindex="-1" aria-labelledby="modalCadastrarEditarObsPacienteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="pnlformModal">
            @* carregamento via jquery *@
        </div>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_PacientesScriptPartial");
    }
}

